<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ivipa.ratel.rockie.domain.mapper.DocumentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ivipa.ratel.rockie.domain.entity.DocumentDo">
        <id column="document_id" property="documentId"/>
        <result column="document_name" property="documentName"/>
        <result column="customer_id" property="customerId"/>
        <result column="content_id" property="contentId"/>
        <result column="folder_id" property="folderId"/>
        <result column="remark" property="remark"/>
        <result column="link_code" property="linkCode"/>
        <result column="share_status" property="shareStatus"/>
        <result column="share_code" property="shareCode"/>
        <result column="share_code_status" property="shareCodeStatus"/>
        <result column="enabled" property="enabled"/>
        <result column="deleted" property="deleted"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>


    <resultMap id="PageResultMap" type="org.ivipa.ratel.rockie.common.model.Document">
        <id column="document_id" property="documentId"/>
        <result column="document_name" property="documentName"/>
        <result column="customer_id" property="customerId"/>
        <result column="content_id" property="contentId"/>
        <result column="folder_id" property="folderId"/>
        <result column="remark" property="remark"/>
        <result column="link_code" property="linkCode"/>
        <result column="share_status" property="shareStatus"/>
        <result column="share_code" property="shareCode"/>
        <result column="share_code_status" property="shareCodeStatus"/>
        <result column="enabled" property="enabled"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>

    <resultMap id="OperatorDocumentPage" type="org.ivipa.ratel.rockie.common.model.OperatorDocument">
        <id column="document_id" property="documentId"/>
        <result column="document_name" property="documentName"/>
        <result column="folder_id" property="folderId"/>
        <result column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="email" property="email"/>
        <result column="nick_name" property="nickName"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        document_id, document_name, customer_id, content_id, folder_id, remark, link_code, share_status, share_code, share_code_status,
        enabled,deleted,effective_date,expire_date,created_by, created_date, updated_by, updated_date
    </sql>


    <select id="getDocuments" resultMap="PageResultMap">
        select document_id, document_name, customer_id, content_id, folder_id, remark, link_code, share_status, share_code, share_code_status,
               enabled,effective_date,expire_date,created_by, created_date, updated_by, updated_date
        from document
        where
        customer_id = #{customerId} and deleted = 0
        <if test="folderId == null ">
            and folder_id is null
        </if>
        <if test="folderId != null ">
            and folder_id = #{folderId}
        </if>

    </select>

    <select id="getOperatorDocuments" resultMap="OperatorDocumentPage">
        select d.document_id, d.document_name, d.customer_id, d.folder_id, c.customer_name, c.email, c.nick_name,
        d.created_by, d.created_date, d.updated_by, d.updated_date
        from
            document d
            inner join customer c on d.customer_id = c.customer_id
        where
            d.deleted = 0
            <if test="like != null ">
                and ((c.customer_name like concat('%', #{like}, '%')) or (c.email like concat('%', #{like}, '%')))
            </if>
        order by d.updated_date desc

    </select>


    <select id="getDocumentWithPermission" resultMap="PageResultMap">
        select d.document_id, d.document_name, d.customer_id, d.content_id, d.folder_id, d.remark, d.link_code,
               d.share_status, d.share_code, d.share_code_status,d.enabled, d.effective_date,
               d.expire_date,d.created_by, d.created_date, d.updated_by, d.updated_date
        from
            document d
            left join document_access da on d.document_id = da.document_id
            left join document_team_access dta on d.document_id = dta.document_id
            left join team_member tm on dta.team_id = tm.team_id
        where
            d.deleted = 0
            and d.document_id = ${documentId}
            and (da.customer_id = #{customerId} or tm.customer_id = #{customerId} or d.customer_id =  ${customerId})

    </select>

</mapper>
