<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ivipi.ratel.rockie.domain.mapper.FolderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ivipi.ratel.rockie.domain.entity.FolderDo">
        <id column="folder_id" property="folderId"/>
        <result column="folder_name" property="folderName"/>
        <result column="parent_id" property="parentId"/>
        <result column="path" property="path"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="deleted" property="deleted"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>


    <resultMap id="PageResultMap" type="org.ivipi.ratel.rockie.common.model.Folder">
        <id column="folder_id" property="folderId"/>
        <result column="folder_name" property="folderName"/>
        <result column="parent_id" property="parentId"/>
        <result column="path" property="path"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="deleted" property="deleted"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        folder_id, folder_name, parent_id, path, remark,
        enabled,deleted,effective_date,expire_date,created_by, created_date, updated_by, updated_date
    </sql>


    <select id="getCustomerPage" resultMap="PageResultMap">
        select folder_id, folder_name, parent_id, path, remark,
               enabled,deleted,is_enabled,effective_date,expire_date,created_by, created_date, updated_by, updated_date
        from folder

    </select>

</mapper>
