<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ivipi.ratel.system.domain.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ivipi.ratel.system.domain.entity.CustomerDo">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_code" property="customerCode"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="id_card" property="idCard"/>
        <result column="telephone" property="telephone"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="deleted" property="deleted"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>


    <resultMap id="PageResultMap" type="org.ivipi.ratel.system.common.model.Customer">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_code" property="customerCode"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="id_card" property="idCard"/>
        <result column="telephone" property="telephone"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customer_id, customer_name, customer_code, password, nick_name, id_card, telephone, mobile, email, remark,
        enabled,deleted,effective_date,expire_date,created_by, created_date, updated_by, updated_date
    </sql>


    <select id="getCustomers" resultMap="PageResultMap">
        select customer_id, customer_name, customer_code, '********' as password, nick_name, id_card, telephone, mobile, email, remark,
        enabled,effective_date,expire_date,created_by, created_date, updated_by, updated_date
        from customer
        <if test="customerName != null">
            and customer_name like '%customerName%'
        </if>
    </select>


    <select id="getCustomerLicenseList" resultType="org.ivipi.ratel.system.common.model.CustomerLicense">
        select
            c.customer_id as customerId, c.customer_name as customerName, c.nick_name as nickName,
            l.license_id as licenseId, l.license_name as licenseName
        from
            customer c
            inner join customer_license cl on c.customer_id = cl.customer_id
            inner join license l on cl.license_id = l.license_id

    </select>

</mapper>
