<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.system.domain.mapper.SysUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ivipi.ratel.system.domain.model.Customer">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="id_card" property="idCard"/>
        <result column="telephone" property="telephone"/>
        <result column="id_card" property="idCard"/>
        <result column="telephone" property="telephone"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="remark" property="remark"/>
        <result column="is_enable" property="isEnable"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>

</mapper>
