<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ivipa.ratel.system.domain.mapper.OperatorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ivipa.ratel.system.domain.entity.OperatorDo">
        <result column="operator_id" property="operatorId"/>
        <result column="customer_id" property="customerId"/>
        <result column="operator_type" property="operatorType"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>


    <resultMap id="PageResultMap" type="org.ivipa.ratel.system.common.model.Operator">
        <result column="operator_id" property="operatorId"/>
        <result column="customer_id" property="customerId"/>
        <result column="operator_type" property="operatorType"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        operator_id, customer_id, access_mode, effective_date,expire_date,created_by, created_date, updated_by, updated_date
    </sql>


    <select id="getOperatorDetails" resultType="org.ivipa.ratel.system.common.model.OperatorDetail">
        select o.operator_id, o.operator_type, o.customer_id, c.customer_name, c.email
        from
            operator o inner join customer c on o.customer_id = c.customer_id
        where 1 = 1
        <if test="customerName != null">
            and c.customer_name like CONCAT('%', #{customerName}, '%')
        </if>
        <if test="email != null">
            and c.email like CONCAT('%', #{email}, '%')
        </if>
    </select>

</mapper>
